In [1]:
a =[1,2,3,4,5,6,7,8,9,10]
b = ["Apple","Ball","Cat"]
print(a)
print(b)
print(type(a),type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Apple', 'Ball', 'Cat']
<class 'list'> <class 'list'>

In [2]:
a = list("Apple")
a

['A', 'p', 'p', 'l', 'e']

In [9]:
a[2]

'p'

In [6]:
a[0:5]

['A', 'p', 'p', 'l', 'e']

In [7]:
a[0:100]

['A', 'p', 'p', 'l', 'e']

In [10]:
a[0:5:2]

['A', 'p', 'e']

In [13]:
a = ["Apple","Ball"]
b = ["Cat","Dog"]
c = b+a

In [15]:
for i in c:
    print(i)

Cat
Dog
Apple
Ball

In [20]:
c

['Cat', 'Dog', 'Apple', 'Ball']

In [17]:
len(c)

4

In [19]:
for i in range(len(c)):
    print(c[i])

Cat
Dog
Apple
Ball

In [16]:
for i in c:
    print(c)

['Cat', 'Dog', 'Apple', 'Ball']
['Cat', 'Dog', 'Apple', 'Ball']
['Cat', 'Dog', 'Apple', 'Ball']
['Cat', 'Dog', 'Apple', 'Ball']

In [22]:
# creating list by user
n = 5
y = []
for i in range(n):
    x = int(input("Enter value = "))
    y = y+[x]
print(y)

Enter value = 1
Enter value = 2
Enter value = 3
Enter value = 4
Enter value = 5
[1, 2, 3, 4, 5]

In [32]:
# creating list by user
n = 5
y = []
for i in range(n):
    x = str(input("Enter value = "))
    y = y+[x]
print(y)

Enter value = Zebra
Enter value = 1apple
Enter value = .Apple
Enter value = Cat
Enter value = fish
['Zebra', '1apple', '.Apple', 'Cat', 'fish']

In [33]:
y.sort()
y

['.Apple', '1apple', 'Cat', 'Zebra', 'fish']

In [24]:
# creating list by user
n = int(input("Enter n = "))
y = []
for i in range(n):
    x = int(input("Enter value = "))
    y = y+[x]
print(y)

Enter n = 5
Enter value = 12
Enter value = 43
Enter value = 56
Enter value = 23
Enter value = 23
[12, 43, 56, 23, 23]

In [30]:
print("the sum is = ",sum(y))
print("Max value is = ",max(y))
print("min value = ",min(y))
y.sort()
print(y)

the sum is =  157
Max value is =  56
min value =  12
[12, 23, 23, 43, 56]

In [31]:
y.reverse()
y

[56, 43, 23, 23, 12]

In [35]:
a = ['Apple', 'apple', 'Cat', 'Zebra', 'fish']
a[1] = 'Ant'
a

['Apple', 'Ant', 'Cat', 'Zebra', 'fish']

In [36]:
# del remove pop

In [38]:
del a[0]
print(a)

['Ant', 'Cat', 'Zebra', 'fish']

In [41]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish']
a.remove('Apple')
print(a)

['Ant', 'Cat', 'Zebra', 'fish']

In [43]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish']
a.pop(3)
print(a)

['Apple', 'Ant', 'Cat', 'fish']

In [44]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish']
b = a.pop(3)
print(a)
print(b)

['Apple', 'Ant', 'Cat', 'fish']
Zebra

In [45]:
# append()
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish']
a.append('goat')
print(a)

['Apple', 'Ant', 'Cat', 'Zebra', 'fish', 'goat']

In [48]:
# creating list by user
n = int(input("Enter n = "))
y = []
for i in range(n):
    x = input("Enter value = ")
    y.append(x)
print(y)

Enter n = 3
Enter value = Ram
Enter value = Shyam
Enter value = Hari
['Ram', 'Shyam', 'Hari']

In [5]:
infos = []
n = int(input("Enter how many rows = "))
for i in range(1,n+1):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total = sum([physics,chemistry,Math,English,Nepali])
    per = total/5
    
    
    info = f"{i} {name} {physics} {chemistry} {Math} {English} {Nepali} {total} {per}"
    infos.append(info)
    
print(infos)

Enter how many rows = 2
Enter name=Ram
Enter Marks78
Enter Marks98
Enter Marks67
Enter Marks90
Enter Marks78
Enter name=Shyam
Enter Marks56
Enter Marks90
Enter Marks98
Enter Marks89
Enter Marks99
['1 Ram 78 98 67 90 78 411 82.2', '2 Shyam 56 90 98 89 99 432 86.4']

In [7]:
roll = int(input("Enter roll = "))
result = infos[roll-1]
print(result)

Enter roll = 1
1 Ram 78 98 67 90 78 411 82.2

In [12]:
result = ['1 Ram 78 98 67 90 78 411 82.2', '2 Shyam 56 90 98 89 99 432 86.4']

roll = int(input("Enter roll = "))
del result[roll-1]
print(result)

Enter roll = 1
['2 Shyam 56 90 98 89 99 432 86.4']

In [15]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish','Apple']
for i in a:
    if i =='Apple':
        a.remove('Apple')
print(a)

['Ant', 'Cat', 'Zebra', 'fish']

In [17]:
# HW
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish','Apple']
l = len(a)
for i in range(l-1):
    if a[i] =='Apple':
        a.remove('Apple')
print(a)

['Ant', 'Cat', 'Zebra', 'fish']

In [18]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish','Apple']
new_list = []
for i in a:
    if i[0] == 'A':
        new_list.append(i)
print(new_list)

['Apple', 'Ant', 'Apple']

In [19]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish','Apple']
if "Apple" in a:
    print("Yes",a.count('Apple'))

Yes 2

In [20]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish','Apple']
a.index('Apple')

0

In [21]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish','Apple']
for i in range(len(a)):
    if a[i] == 'Apple':
        print(i)
# a.index('Apple')

0
5

In [23]:
a = ['Apple', 'Ant', 'Cat', 'Zebra', 'fish','Apple']
for i in range(len(a)):
    if a[i] == 'Apple':
        print("Index = ",i)
print("The count is = ",a.count('Apple'))

Index =  0
Index =  5
The count is =  2

In [1]:
# lists = []
# list_inside_list = [[],[],[],[]]

In [8]:
a = [[1,2,3],[4,5,6],[7,8,9]]
a[0][0]

1

In [10]:
a = [[1,2,3],[4,5,6],[7,8,9]]
a[0:2]

[[1, 2, 3], [4, 5, 6]]

In [11]:
type(a)

list

In [12]:
a = [[1,2,3],[4,5,6],[7,8,9]]
b = [[10,11,12],[13,14,15]]
a+b

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

In [14]:
a = [[1,2,3],[4,5,6],[7,8,9]]
b = [[10, 11, 12]]
a+b

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [15]:
for i in a:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [16]:
e = []
for i in range(3):
    a = int(input("Enter value of a = "))
    b = int(input("Enter value of b = "))
    c = int(input("Enter value of c = "))
    d = [a,b,c]
    e.append(d)
print(e)

Enter value of a = 1
Enter value of b = 2
Enter value of c = 3
Enter value of a = 4
Enter value of b = 5
Enter value of c = 6
Enter value of a = 7
Enter value of b = 8
Enter value of c = 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
infos = []
n = int(input("Enter how many rows = "))
for i in range(1,n+1):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total = sum([physics,chemistry,Math,English,Nepali])
    per = total/5
    
    
    info = [i,name,physics,chemistry,Math,English,Nepali,total,per]
    infos.append(info)
    
print(infos)

Enter how many rows = 2
Enter name=Ram
Enter Marks78
Enter Marks90
Enter Marks78
Enter Marks67
Enter Marks89
Enter name=Shyam
Enter Marks67
Enter Marks89
Enter Marks90
Enter Marks78
Enter Marks87
[[1, 'Ram', 78, 90, 78, 67, 89, 402, 80.4], [2, 'Shyam', 67, 89, 90, 78, 87, 411, 82.2]]

In [25]:
infos = [[1, 'Ram', 78, 90, 78, 67, 89, 402, 80.4], [2, 'Shyam', 67, 89, 90, 78, 87, 411, 82.2]]
roll = int(input("Enter roll = "))
infos[roll-1]

Enter roll = 1

[1, 'Ram', 78, 90, 78, 67, 89, 402, 80.4]

In [26]:
roll = int(input("Enter roll = "))
infos[roll-1][1] = "Ram Prasad"
infos

Enter roll = 1

[[1, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4],
 [2, 'Shyam', 67, 89, 90, 78, 87, 411, 82.2]]

In [27]:
roll = int(input("Enter roll = "))
index = int(input("Enter index = "))
marks = int(input("Enter new marks = "))
infos[roll-1][index] = marks

new_data = infos[roll-1][2:7]
print(new_data)
sum_new_data = sum(new_data)
per_new_data = sum_new_data/5
infos[roll-1][7] = sum_new_data
infos[roll-1][8] = per_new_data
print(infos)

Enter roll = 2
Enter index = 6
Enter new marks = 100
[67, 89, 90, 78, 100]
[[1, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4], [2, 'Shyam', 67, 89, 90, 78, 100, 424, 84.8]]

In [28]:
infos = [[1, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4], [2, 'Shyam', 67, 89, 90, 78, 100, 424, 84.8]]
del infos[1]
infos

[[1, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4]]

In [33]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
del a[2][2]
a

[[1, 2, 3], [4, 5, 6], [7, 8]]

In [34]:
infos = [[1, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4], [2, 'Shyam', 67, 89, 90, 78, 100, 424, 84.8]]
infos.remove([2, 'Shyam', 67, 89, 90, 78, 100, 424, 84.8])
infos

[[1, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4]]

In [36]:
infos = [[2, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4], [1, 'Shyam', 67, 89, 90, 78, 100, 424, 84.8]]
infos.sort()

In [37]:
infos

[[1, 'Shyam', 67, 89, 90, 78, 100, 424, 84.8],
 [2, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4]]

In [38]:
a = [[1,2,3,],[4,5,6]]
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [41]:
a = [[1,2,3],[4,5,6],[6,3,2]]
len(a[0])

3

In [ ]:
# search 
# remove

In [45]:
a = [[1,2,3],[4,5,6],[6,3,2]]
s = 3
for i in a:
    if s in i:
        print("Yes")
        break

Yes

In [47]:
a = [[1,2,3],[4,5,6],[6,3,2]]
s = 3
for i in a:
    if s in i:
        
        i.remove(s)
       
print(a)

[[1, 2], [4, 5, 6], [6, 2]]

In [49]:
a = [[1,2,3],[4,5,6],[6,3,2]]
s = 3
for i in a:
    if s in i:
        
        n = i.index(s)
        i[n] = 33
       
print(a)

[[1, 2, 33], [4, 5, 6], [6, 33, 2]]

In [ ]:
x = [[1, 'Shyam', 67, 89, 90, 78, 100, 424, 84.8],
     [2, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4],
    [3, 'Ram Prasad', 78, 90, 78, 67, 89, 402, 80.4]]